<h6 class="m-2"><b>マイページ</b></h6>
<div class="container mt-4">
  <div class="border border-dark" style="height: 300px; max-width: 700px">
    <table class="offset-2 mt-5">
      <tbody>
        <tr>
          <td style="width: 200px;"><b>ユーザーネーム</b></td>
          <td>
            <b><%= current_customer.name %></b>
            　<%= link_to "#name_form", data: { toggle: "modal" } do %>
              <i class="fa-solid fa-pen" style="color: #5375c6;"></i>
            <% end %>
          </td>
        </tr>
        <tr>
          <td style="height: 60px;"><b>メールアドレス</b></td>
          <td>
            <b><%= current_customer.email %></b>
            　<%= link_to "#email_form", data: { toggle: "modal" } do %>
            <i class="fa-solid fa-pen" style="color: #5375c6;"></i>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--名前入力欄-->
<%= render '/public/customers/form_name' %>

<!--メールアドレス-->
<%= render '/public/customers/form_email' %>