
<div class="container mt-3">

  <div class="d-flex justify-content-end" style="max-width: 500px">
    <div class="row">
    <!--計画実行済ボタン-->
    <% if @plan.is_complete %>
      <%= form_with model: @plan, method: :patch do |f| %>
        <%= f.hidden_field :is_complete, :value => false %>
        <%= f.submit "実施済",class: "btn btn-outline-success", data: { confirm: "実施前に戻しますか？"} %>
      <% end %>
    <% else %>
      <%= form_with model: @plan, method: :patch do |f| %>
        <%= f.hidden_field :is_complete, :value => true %>
        <%= f.submit "実施前",class: "btn btn-outline-danger", data: { confirm: "実施済にしますか？"} %>
      <% end %>
    <% end %>

    <!--plan-indexへのリンク-->
    <%= link_to "計画一覧に戻る", plans_path, class: "btn btn-success ml-2" %>

    <!--投稿削除機能-->
    <%= link_to plan_path(@plan), method: :delete, data: { toggle: "tooltip", disable_with: '送信中', confirm: "この計画を削除しますか？"},
                                         title: "計画の削除", class: "ml-2 py-1" do %>
      <i class="fa-solid fa-trash fa-xl"></i>
    <% end %>
    </div>
  </div>

  <!--計画詳細-->
  <div class="mt-4">計画名：<%= @plan.name %></div>
    <table border="1" class="mt-2">
      <thead class="text-center">
        <tr>
          <th>日付</th>
          <th>時間</th>
          <th>スケジュール</th>
          <th>備考</th>
        </tr>
      </thead>
      <tbody>
        <% @plan.note_plans.each do |note_plan| %>
          <tr>
            <td class="text-center px-3"><%= note_plan.departure.strftime('%-m/%-d') %></td>
            <td class="text-center px-3"><%= note_plan.arrival.strftime('%H:%M') %>～<%= note_plan.departure.strftime('%H:%M') %></td>
            <td class="px-3"><%= note_plan.note.title %></td>
            <td class="px-3" style="min-width: 200px"><%= note_plan.comment %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>