<!--ナビゲーション-->
<div class="m-1 d-flex">
  <h6><b>ユーザーリスト</b></h6>

</div>

<!--ユーザー一覧-->
<div class="container">
  <table>
    <thead>
      <tr>
        <th style="width: 100px">ユーザー名</th>
        <th style="width: 200px">メールアドレス</th>
        <th style="width: 100px">ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.name %></td>
          <td><%= customer.email %></td>
          <td>
            <%= form_with model: [:admin, customer], method: :patch do |f| %>
              <% if customer.is_deleted %>
                <%= f.hidden_field :is_deleted, :value => false %>
                <%= f.submit "退会",class: "btn btn-outline-danger", data: { confirm: "有効に戻しますか？"} %>
              <% else %>
                <%= f.hidden_field :is_deleted, :value => true %>
                <%= f.submit "有効",class: "btn btn-outline-success", data: { confirm: "退会済にしますか？"} %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
