<div class="px-1" style="width: 190px; height: 80px">
  <div class="text-right">
    <font size="2">
      <div class="d-inline-block px-1"><b>
        <% if !note.prefecture.present? %>
          # -県
        <% elsif @is_note_index %>
          <%= link_to "# #{note.prefecture}", notes_path(prefecture_name: note.prefecture), style: "color: black;"%>
        <% elsif @is_note_my_index %>
          <%= link_to "# #{note.prefecture}", notes_customers_path(prefecture_name: note.prefecture), style: "color: black;"%>
        <% else %>
          # <%= note.prefecture %>
        <% end %>
      </b></div>
      <div class="d-inline-block px-1"><b>
        <% if !note.city.present? %>
          # -市
        <% elsif @is_note_index %>
          <%= link_to "# #{note.city}", notes_path(city_name: note.city), style: "color: black;"%>
        <% elsif @is_note_my_index %>
          <%= link_to "# #{note.city}", notes_customers_path(city_name: note.city), style: "color: black;"%>
        <% else %>
          # <%= note.city %>
        <% end %>
      </b></div>
    </font><br>
  </div>
  <b class="ml-1">
    <%= link_to "#{note.title}",note_path(note), style: "color: black;" %>
  </b><br>
  <div class="tag-container">
    <font size="2">
      <% note.tags.each do |tag| %>
        <div class="d-inline-block pr-1">
          <% if @is_note_index %>
            <%= link_to "# #{tag.name}", notes_path(tag_id: tag.id), style: "color: black;"%>
          <% elsif @is_note_my_index %>
            <%= link_to "# #{tag.name}", notes_customers_path(tag_id: tag.id), style: "color: black;"%>
          <% else %>
            # <%= tag.name %>
          <% end %>
        </div>
      <% end %>
    </font>
  </div>
  <!--<i class="fa-regular fa-message"></i> クリックすると、マップのマーカーウィンドウがポップする-->
</div>

<script>
  // タグコンテナ内のタグ要素を取得
  const tagContainer = document.querySelector('.tag-container');
  const tags = tagContainer.querySelectorAll('.tag');

  // タグ要素の幅を確認して省略表示
  let totalWidth = 0;
  tags.forEach(tag => {
    totalWidth += tag.offsetWidth;
  });

  if (totalWidth > tagContainer.offsetWidth) {
    tagContainer.classList.add('ellipsis');
  }
</script>