<!DOCTYPE html>
<html>
  <head>
    <title>Somedeney</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/c4a984c717.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body data-turbolinks="false">
    <%= render '/layouts/header' %>
    <%= flash[:error] %>
    <%= flash[:notice] %>
    <div class="mb-3" style="min-height: 600px;">
      <%= yield %>
    </div>
    <%= render '/layouts/footer' %>
  </body>
</html>
